
 <!-- <input class="btn btn-dark btn-sm "  type='file' (change)="fileChanged($event)">
  
  
      <button    type="button" class="btn btn-outline-dark btn-sm " 
     (click)="uploadDocument(file)" >Upload File</button> 
    
       
   <button (click)="getFile()">Open File</button>
     

     <button type="Submit" class=" btn btn-outline-dark btn-sm float-end " 
     >Submit</button>
     <button type="button" class="  btn btn-outline-dark btn-sm float-end " 
     (click)="download()" >Download</button> -->
          
   <!-- <button (click)="getFile()">Open File</button> -->